@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("./assets/fonts/HKGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("./assets/fonts/HKGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("./assets/fonts/HKGrotesk-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: "HK Grotesk", "Hanken Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}


button,
input {
  font: inherit;
}

img {
  display: block;
}